h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

/* COLORS */
@lightBlue: #0297ff;
@darkBlue: #01729c;
@navyBlue: #001f2b;
@footerFontColor: #00384d;

/* FONT SIZES */
@tiny: 15px;
@extraSmall: 18px;
@small: 25px;
@medium: 30px;
@large: 40px;
@extraLarge: 50px;

.homepage {
	background-color: white;
	line-height: 1.3;
}

.noPadding {
	padding: 0;
}

.noMargin {
	margin: 0;
}

.hide {
	display: none;
}

.dash {
	width: 67px;
  height: 8px;
  border-width: 0;
  margin: 0;

	&--dark {
    background-color: @darkBlue;
  }

  &--light {
    background-color: @lightBlue;
  }

	&--top-banner {
		margin: 35px 0 50px 0;

		@media screen and (max-width: 1420px) {
			margin: 35px auto 50px;
		}

		@media screen and (max-width: 592px) {
			margin: 35px 0 35px 0;
		}
	} /**********END OF TOP BANNER DASH**********/

	&--bottom-banner {
		margin: 39px 0 42px 0;

		@media screen and (max-width: 1420px) {
			margin: 39px auto 42px;
		}

		@media screen and (max-width: 592px) {
			margin: 35px auto;
		}
	} /**********END OF BOTTOM BANNER DASH**********/

	&--feature {
		margin: 53px 0 59px 0;

		@media screen and (max-width: 468px) {
			margin: 25px 0;
		}
	} /**********END OF FEATURE DASH**********/

} /**********END OF DASH**********/


.navbar-default .navbar-nav li a {
	font-size: 16px ;
	line-height: 1;
	color: @lightBlue;
	padding: 20px;

	&:hover {
		color: @darkBlue;
	}

	@media screen and (min-width: 768px) {
		padding: 35px 15px;
	}
	@media screen and (min-width: 1300px) {
		padding: 35px 50px;
	}
}

.navbar-collapse.in {
    overflow-y: visible;
}


.etheader {
	margin-bottom: 0;
	background: white;
	text-align: center;

	.logo-header {
		padding: 10px 0;
	    display: block;

		img {
			height: 90px;

			@media screen and (min-width: 768px) {
				margin: 0;
				text-align: left;
			}

			@media screen and (min-width: 1300px) {
				margin-left: 70px;
			}
		}
	}

	.etNavLeft {

		@media screen and (min-width: 768px) {
			margin-left: 0;
		}

		@media screen and (min-width: 992px) {
			margin-left: 50px;
		}

		@media screen and (min-width: 1300px) {
			margin-left: 150px;
		}

		li a {
			padding: 20px;

			width: 50%;
			float: left;

			@media screen and (min-width: 768px) {
				padding: 47px 15px;
				float: none;
				width: auto;
			}

			@media screen and (min-width: 1300px) {
				padding: 47px 50px;
			}
		}
	}

	.navbar-right {
		img {
			display: inline-block;
			height: 40px;
			margin-right: 10px;
		}
	}

	&__login {

		width: 50%;
		float: left;

		@media screen and (min-width: 768px) {
			float: none;
			width: auto;
		}

		.text {
			display: inline-block;
			vertical-align: middle;

			.caret {
				border-top: 6px solid;
				border-right: 6px solid transparent;
				border-left: 6px solid transparent;
				color: @navyBlue;
			}

			h4 {
				display: block;
				font-size: 12px;
				color: @navyBlue;
			}
		}

	}

	#languageSwitch {

		position: relative;

		.otherLanguage {
			display: none;
			position: absolute;
		    bottom: -40px;
			right: 0;
    		left: 0;
		    z-index: 5;
		    padding: 5px;
			background: white;
			border: 1px solid @darkBlue;
		    margin: 0;

			@media screen and (min-width: 768px) {
				bottom: -20px;
			}

		}

		.block {
			display: block;
		}
	}

}


.holder {
	position: relative;

	&--banner {
		width: 755px;

		@media screen and (max-width: 1420px) {
			width: 900px;
			margin: 0 auto;
		}

		@media screen and (max-width: 992px) {
			width: 725px;
		}

		@media screen and (max-width: 768px) {
			width: 555px;
		}

		@media screen and (max-width: 592px) {
			width: 375px;
			margin: 0;
		}

		@media screen and (max-width: 410px) {
			width: 285px;
		}

		@media screen and (max-width: 319px) {
			width: auto;
		}
	}
} /**********END OF HOLDER**********/

.checkSign {
	position: absolute;
	bottom: 0;
	right: 0;

	@media screen and (max-width: 992px) {
		width: 109px;
	}

	@media screen and (max-width: 768px) {
		width: 82px;
	}

	@media screen and (max-width: 592px) {
		width: 62px;
	}

	@media screen and (max-width: 410px) {
		width: 52px;
	}

	@media screen and (max-width: 319px) {
		display: none;
	}
} /**********END OF CHECK SIGN**********/

.title {
	font-weight: 800;
	text-transform: uppercase;

	&--banner {
		color: white;
		font-size: @extraLarge;

		@media screen and (max-width: 1420px) {
			text-align: center;
		}

		&--top {
			@media screen and (max-width: 992px) {
				font-size: @large;
			}

			@media screen and (max-width: 768px) {
				font-size: @medium;
			}

			@media screen and (max-width: 592px) {
				font-size: @small;
				text-align: left;
			}

			@media screen and (max-width: 410px) {
				font-size: @extraSmall;
			}
		} /********** END OF TOP BANNER TITLE **********/

		&--bottom {
			@media screen and (max-width: 768px) {
				font-size: @large;
			}

			@media screen and (max-width: 592px) {
				font-size: @medium;
			}
		} /********** END OF BOTTOM BANNER TITLE **********/

	} /********** END OF BANNER TITLE **********/

	&--feature {
		color: @darkBlue;
		font-size: @medium;

		@media screen and (max-width: 1420px) {
			font-size: @small;
		}

		@media screen and (max-width: 375px) {
			font-size: @extraSmall;
		}
	} /********** END OF FEATURE TITLE **********/

	&--description {
		color: white;
		font-size: @tiny;
		font-weight: 600;
		text-transform: none;
		margin-bottom: 15px;

		@media screen and (min-width: 1420px) {
			font-size: @extraSmall;
		}
	} /********** END OF DESCRIPTION TITLE **********/

}

.caption {
	color: white;
	font-style: italic;

	&--banner {
		font-size: @small;

		@media screen and (max-width: 1420px) {
			text-align: center;
		}

		@media screen and (max-width: 592px) {
			font-size: @extraSmall;
			text-align: left;
		}

		&--inscription {
			font-weight: 200;
		}

		&--bottom {
			font-size: @medium;
			font-weight: 200;
			line-height: 1.6;

			@media screen and (max-width: 1420px) {
				text-align: center;
			}

			@media screen and (max-width: 768px) {
				font-size: @small;
			}

			@media screen and (max-width: 592px) {
				font-size: @extraSmall;
			}
		} /********** END OF BOTTOM BANNER CAPTION **********/

	} /********** END OF BANNER CAPTION **********/

	&--feature {
		max-width: 330px;
		color: @darkBlue;
		font-size: @extraSmall;

		&--showMore {
			font-size: @tiny;
			text-transform: uppercase;
			font-weight: 600;
			text-decoration: underline;
			margin-bottom: 25px;
			position: absolute;
			bottom: 0;
			cursor: pointer;
		} /********** END OF FEATURE SHOW MORE CAPTION **********/

	} /********** END OF FEATURE CAPTION **********/

	&--description {
		color: white;
		font-size: @tiny;
		font-weight: 100;
		font-style: normal;

		@media screen and (min-width: 1420px) {
			font-size: @extraSmall;
		}
	} /********** END OF DESCRIPTION CAPTION **********/

} /********** END OF CAPTION **********/

.banner {
	position: relative;

	&__square {
		width: 50%;
		background-color: @lightBlue;
		float: left;
		position: relative;
		z-index: 2;

		&--top {
			height: 502px;
			padding: 130px 0 105px 75px;

			@media screen and (max-width: 1420px) {
				width: 100%;
				height: auto;
				padding: 45px 20px;
			}
		} /**********END OF TOP SQUARE**********/

		&--bottom {
			height: 656px;
			padding: 165px 0 105px 75px;

			@media screen and (max-width: 1420px) {
				width: 100%;
				height: auto;
				padding: 45px 20px;
			}
		} /**********END OF BOTTOM SQUARE**********/

	} /**********END OF SQUARE**********/

	&__parallelogram {
		width: 50%;
		height: 100%;
		background-color: @lightBlue;
		position: absolute;
		left: 0;
    z-index: 1;
    -webkit-transform: skewX(-38deg);
        -ms-transform: skewX(-38deg);
            transform: skewX(-38deg);
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;

		&--top {
			@media screen and (max-width: 1420px) {
				display: none;
			}
		} /**********END OF TOP PARALLELOGRAM**********/

		&--bottom {
			@media screen and (max-width: 1420px) {
				display: none;
			}
		} /**********END OF BOTTOM PARALLELOGRAM**********/

	} /**********END OF PARALLELOGRAM**********/

	&__picture {
		width: 50%;
		float: right;

		@media screen and (max-width: 1420px) {
			width: 100%;
		}

		&--top {
			height: 502px;
			background: url('../../images/Main banner image.jpg') no-repeat;
			background-size: cover;
			background-position-x: center;

			@media screen and (min-width: 1421px) and (max-width: 1700px) {
				background-position: -500px;
			}

			@media screen and (max-width: 992px) {
				background-position: -450px;
			}

			@media screen and (max-width: 768px) {
				background-position: -600px;
			}

			@media screen and (max-width: 592px) {
				height: 268px;
				background-position: -200px;
			}

			@media screen and (max-width: 469px) {
				background-position: -350px;
			}
		} /**********END OF TOP PICTURE**********/

		&--bottom {
			height: 656px;
			background-color: @darkBlue;
			overflow: hidden;
			position: relative;

			@media screen and (max-width: 1420px) {
				height: 600px;
			}

			@media screen and (max-width: 768px) {
				height: 400px;
			}

			.phone {
				position: absolute;
				bottom: -10px;
				right: 150px;
				z-index: 2;

				@media screen and (max-width: 1420px) {
    			margin-left: auto;
			    margin-right: auto;
			    left: 0;
			    right: 0;
				}

				@media screen and (max-width: 768px) {
					width: 320px;
				}
			} /**********END OF BOTTOM PICTURE PHONE**********/

			.button {
				width: 160px;
				height: 60px;
				background-color: white;
				color: @darkBlue;
				font-size: 21px;
				text-transform: uppercase;
				padding: 0;
				border-width: 0;
				position: absolute;
				bottom: 80px;
				right: 72px;
				z-index: 3;

				@media screen and (max-width: 768px) {
					width: 120px;
    			height: 40px;
					bottom: 40px;
					right: 40px;
				}
			} /**********END OF PICTURE BUTTON**********/

		} /**********END OF BOTTOM PICTURE**********/

	} /**********END OF PICTURE**********/

} /**********END OF BANNER**********/

.inscription {
	background-color: @darkBlue;
	padding: 45px 75px;

	@media screen and (max-width: 1420px) {
		padding: 45px 25px;
	}

	@media screen and (max-width: 592px) {
		padding: 25px;
	}
} /**********END OF INSCRIPTION**********/

.features {
	padding: 78px 33px 77px 73px;

	@media screen and (max-width: 768px) {
		padding: 40px 0 0 40px;
	}

	.feat {
		height: 435px;
		padding: 55px 20px 25px 30px;
		margin: 0 40px 40px 0;
		position: relative;
		z-index: 1;

		&__image {
			position: absolute;
			top: 0;
  		right: 0;

			@media screen and (max-width: 1420px) {
				width: 70px;
			}

			@media screen and (max-width: 468px) {
				width: 50px;
			}

			@media screen and (max-width: 375px) {
				width: 40px;
			}
		} /**********END OF FEAT IMAGE**********/

		.border-top {
		  height: 5px;
		  width: 0;
		  background-color: @lightBlue;
		  position: absolute;
		  top: 0;
		  left: 0;
		}

		@-webkit-keyframes top {
		  0% {
		    width: 0;
		  }
		  100% {
		    width: 100%;
		  }
		}

		@keyframes top {
		  0% {
		    width: 0;
		  }
		  100% {
		    width: 100%;
		  }
		}

		.border-right {
		  height: 0;
		  width: 5px;
		  background-color: @lightBlue;
		  right: 0;
		  top: 0;
		  position: absolute;
		}

		@-webkit-keyframes right {
		  0% {
		    height: 0%;
		  }
		  100% {
		    height: 100%;
		  }
		}

		@keyframes right {
		  0% {
		    height: 0%;
		  }
		  100% {
		    height: 100%;
		  }
		}

		.border-bottom {
		  height: 5px;
		  width: 0;
		  background-color: @lightBlue;
		  right: 0;
		  bottom: 0;
		  position: absolute;
		}

		@-webkit-keyframes bottom {
		  0% {
		    width: 0;
		  }
		  100% {
		    width: 100%;
		  }
		}

		@keyframes bottom {
		  0% {
		    width: 0;
		  }
		  100% {
		    width: 100%;
		  }
		}

		.border-left {
		  height: 0;
		  width: 5px;
		  background-color: @lightBlue;
		  bottom: 0;
		  left: 0;
		  position: absolute;
		}

		@-webkit-keyframes left {
		  0% {
		    height: 0;
		  }
		  100% {
		    height: 100%;
		  }
		}

		@keyframes left {
		  0% {
		    height: 0;
		  }
		  100% {
		    height: 100%;
		  }
		}

	} /**********END OF FEAT**********/

	.desc {
		background-color: @darkBlue;
		height: 435px;
    padding: 20px;
    margin: 0 40px 40px 0;

		@media screen and (max-width: 992px) {
			padding: 40px;
			overflow: scroll;
		}

		hr {
			height: 1px;
			background-color: white;
			margin: 40px 0;
		}

	} /**********END OF DESC**********/

} /**********END OF FEATURES**********/

footer {
    background-color: @navyBlue;
    padding: 70px 60px;
    position: relative;

    @media screen and (max-width: 768px) {
        padding: 20px 10px;
    }

    .logo-holder {
        display: inline-block;
        margin-right: 20px;
		float: left;

        @media screen and (max-width: 768px) {
            display: block;
			width: 100%;
            text-align: center;
            margin-right: 0;
            margin-bottom: 10px;
        }

        .logo {
            width: 300px;
            height: 90px;
            margin: 0 auto;
            background: url("../../images/logo-footer.png") no-repeat;
        }
    }

    .menu {
		display: inline-block;
		float: left;

		.inline-block {
			display: inline-block;
		}

        @media screen and (max-width: 768px) {
            display: block;
			width: 100%;
            text-align: center;
        }

        ul {
            margin-left: 100px;
            margin-top: 15px;
		    list-style: none;

			@media screen and (max-width: 992px) {
				margin: 10px auto;
			}

            @media screen and (max-width: 768px) {
                margin: 10px auto;
                text-align: left;
            }

            li {
                margin-right: 20px;
                margin-bottom: 12px;

				@media screen and (max-width: 768px) {
					display: inline-block;
				}

                a {
                    font-size: 20px;
				    text-decoration: none;
                    color: @footerFontColor;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }

    .rights {
		float: right;
		padding-top: 30px;
        text-align: right;
        color: @footerFontColor;
        font-size: 13px;
        line-height: 1.2;

        @media screen and (max-width: 768px) {
            width: 100%;
            float: none;
            text-align: center;
            display: block;
            bottom: auto;
            right: auto;
        }

        a {
            font-size: 13px;
            color: @footerFontColor;
		    text-decoration: none;

            &:hover {
                color: white;
            }
        }
    }
}
